<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ucvt.simulatorcasino">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:configChanges="locale">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GameMenu"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".GameCards"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Game777"
            android:configChanges="locale"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".Settings"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".GameCrypto"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>